<template>
  <v-container class="ma-0 d-flex flex-row">
    <v-btn class="ma-1 px-5 border"
      >Добавить раздел
      <font-awesome-icon icon="circle-plus" class="fa-lg mx-1" />
    </v-btn>
    <v-btn class="ma-1 px-5 border">Периоды</v-btn>
  </v-container>
  <!-- Таблица -->
  <BTreeTable :dataTable="getDataTable" :columnsTable="getColumnsTable"/>
</template>

<script>
import { useQuery, useMutation } from "@vue/apollo-composable";
import gql from "graphql-tag";

import { ref, computed, onMounted } from "vue";

import BTreeTable from "@/components/BTreeTable.vue";

// Запрос на выборку всех данных для таблицы
const QUERY_GET_DATA_FROM_TABLE = `
        query getDataFromTable {
          categories {
            edges {
              node {
                _id
                totalPrice
                name
                items {
                  edges {
                    node {
                      name
                      price
                      amount
                      category {
                        id
                        name
                      }
                      periods(first: 2) {
                        edges {
                          node {
                            name
                            begin
                            till
                            items {
                              edges {
                                node {
                                  name
                                  price
                                  amount
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      `;

export default {
  components: { BTreeTable },

  setup(_) {
    // Получим от сервера данные для таблицы
    const { result } = useQuery(gql(QUERY_GET_DATA_FROM_TABLE));
    const getDataTable = computed(() => (result.value ? result.value : []));

    // Столбцы таблицы
    const getColumnsTable = computed(() => [
      { key: "_id", header: "#" },
      { key: "section", header: "Раздел", opening: "true" },
      { key: "action", header: "Действия" },
      { key: "begin", header: "Январь" },
      { key: "till", header: "Февраль" },
      { key: "total", header: "Итого" },
    ]);

    return { getColumnsTable, getDataTable };
  },
};
</script>
