<template>
  <v-container>
    <v-table>
      <thead>
        <tr>
          <th v-for="col of columnsTable" :key="col.key">{{ col.header }}</th>
        </tr>
      </thead>
      <tbody>
        <template v-if="dataTable.length !== 0">
          <BTreeTableRow
            v-for="(node, i) of renderDataTable"
            :key="i"
            :node="node"
            :columns="columnsTable"
          />
        </template>
        <template v-else>
          <tr>
            <td class="text-center" colspan="6">Нет данных</td>
          </tr>
        </template>
      </tbody>
    </v-table>
  </v-container>
</template>

<script>
import { computed, ref } from "vue";
import BTreeTableRow from "./BTreeTable/BTreeTableRow.vue";

export default {
  components: { BTreeTableRow },
  props: {
    dataTable: {
      type: Object,
    },
    columnsTable: {
      type: Array,
    },
  },

  setup(props) {
    const getCountColumns = computed(() => props.columnsTable.length);
    const renderDataTable = computed(() => props.dataTable);

    return { getCountColumns, renderDataTable };
  },
};
</script>

<style></style>
