<template>
  <td>data</td>
</template>

<script>
export default {
props: {
    node: {
      typeof: [Object, Array, String],
      default: null,
      required: false
    },
    text: {
      type: [Object, Array],
      default: null,
      required: false
    },
  },
}
</script>

<style>

</style>