<template>
  <tr @click.prevent="onClick">
    <BTreeTableBodyCell
      v-for="col of columns"
      :key="col.key"
      :column="col.key"
    />
  </tr>
  <template v-if="node.hasOwnProperty('edges')">
    <BTreeTableRow
      v-for="(node, i) of node"
      :key="i"
      :node="node"
      :columns="columns"
    />
  </template>
</template>

<script>
import BTreeTableBodyCell from "../BTreeTable/BTreeTableBodyCell.vue";

export default {
  components: { BTreeTableBodyCell },
  // Объявлено для рекурсивного использования
  name: "BTreeTableRow",

  props: {
    node: {
      type: [Array, Object, String],
      default: null,
    },
    columns: {
      type: [Array, Object],
      default: null,
    },
  },

  setup(props) {
    const onClick = () => console.log("Clicked");

    return { onClick };
  },
};
</script>

<style></style>
