<template>
  <v-app theme="dark">
    <v-app-bar>
      <v-app-bar-title>Big Land</v-app-bar-title>
      <v-list class="d-flex flex-row">
        <v-btn variant="plain" @click="$router.push('/')">Домой</v-btn>
        <v-btn variant="plain" @click="$router.push('/smeta')">Смета</v-btn>
      </v-list>
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
};
</script>

<style lang="scss">
.router-link {
  text-decoration: none;
}
</style>
